.header {
   min-height: 100vh;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 2;
   position: relative;
   &__top {
      height: 89px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: to-rem(55);
   }
   @include mq('phone-wide') {
      padding-bottom: to-rem(175);
   }
}

.header__bg-left{
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: -1;
   background-image: url('../img/header-Bg.png');
   background-position: center;
   background-size: cover;
   .header__bg-img{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}



.top-header {

   &__logo-link {
      @include mq('400px'){
         width: to-rem(150);
      }
   }
   &__logo {
      @include mq('400px') {
            width: 100%;
         }
   }
}

.body-header {
   color: #FFFFFF;
   &__top-title {
      font-size: 1rem;
      line-height: to-lh(21,14);
      opacity: .8;
   }

   &__title {
      margin: to-rem(24) 0;
      font-weight: 700;
      font-size:  to-rem(60);
      @include adaptiv-value("font-size", 60, 45, 1);
      line-height: to-lh(74,60);
      max-width: to-rem(616);
   }

   &__sub-title {
      font-size: to-rem(16);
      line-height: 26px;
      line-height: to-lh(26, 16);
      margin-bottom: to-rem(45);
      max-width: to-rem(581);
      opacity: .8;
   }
   &__wrapper-touch{
      position: relative;
      width: to-rem(114);
      justify-content: flex-end;
      overflow: hidden;
      height: to-rem(24);
      display: flex;
      align-items: center;
      @include mqm('md'){
         &:hover .body-header__touch::after {
               width: 108%;
            }
      }
      

      &::after{
         content: '';
         position: absolute;
         width: to-rem(9);
         height: to-rem(9);
         transform: rotate(45deg) translateY(-50%);
         left: to-rem(-2.8);
         top: 45%;
         background-color: $color-gold;
         transform-origin: top;
         border-radius: to-rem(1);
      }
   }
   &__touch {
      color: $color-gold;
      display: inline-block;
      font-weight: 700;
      font-size: to-rem(16);
      position: relative;
      &::after{
         content: '';
         position: absolute;
         width: 0%;
         height: to-rem(2);
         background-color: $color-gold;
         right: 0;
         bottom: 0;
         transform-origin: right;
         transition: all .1s linear;
         @include mq('md') {
               width: 108%;
            }
      }
   }
}