// Размер шрифта HTML ==================================================================
// Шрифт
$font-size-base: 14;
$font-base: 'Poppins', sans-serif;
$font-weight-base: 400;

// Цвета ===============================================================================
$color-bg-base: #fff;
$color-bg-promo: #f7f7f7;
$color-text-base: #000;
$color-gold: rgba(255, 215, 35, 1);;

//Контрольные точки ====================================================================
$breakpoints: (
   phone: 400px,
   phone-wide: 480px,
   sm: 576px,
   phablet: 576px,
   tablet-small: 640px,
   md: 768px,
   tablet: 768px,
   lg: 992px,
   large : 992px,
   tablet-wide: 1024px,
   desktop: 1248px,
   desktop-wide: 1440px
);

// Для адаптивного свойства ================================================================
$maxWidth: 1440; // Значения 0 и 2 - всегда и при увелечении
$maxWidthContainer: 1140; // Значение 1 при уменьшении

// Контейнер размер и отступы ==============================================================
$container-max-width: 1140px;
$container-padding: 15px;